<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273362818802-8dn1pimdln3en1uljgd1tsfqc25lqbm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273362818802-8dn1pimdln3en1uljgd1tsfqc25lqbm9</string>
	<key>API_KEY</key>
	<string>AIzaSyB1owaz9NuYbrUIB5HTnJ3TkjESn3Sfnk4</string>
	<key>GCM_SENDER_ID</key>
	<string>273362818802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guarnieri.lojaVirtual</string>
	<key>PROJECT_ID</key>
	<string>loja-virtual-24396</string>
	<key>STORAGE_BUCKET</key>
	<string>loja-virtual-24396.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273362818802:ios:01b6e86cf28bbb134e226b</string>
</dict>
</plist>